Repository web-infra-dev/rspress, pull requests merged in 2024-03, with the labels that each got.

#852 docs: fix broken Rsbuild links
  packages/document/docs/en/guide/basic/ssg.mdx
  packages/document/docs/zh/guide/basic/ssg.mdx
  packages/plugin-playground/src/web/editor.tsx
Labels: change: docs

#854 fix(doc): fix logo sidebar cannot be used properly.
  .changeset/metal-papayas-live.md
  packages/document/docs/en/api/config/config-basic.mdx
  packages/document/docs/zh/api/config/config-basic.mdx
Labels: change: fix

#855 feat: support logo text config
  .changeset/wet-ears-suffer.md
  packages/core/src/node/runtimeModule/siteData/index.ts
  packages/document/docs/en/api/config/config-basic.mdx
  packages/document/docs/zh/api/config/config-basic.mdx
  packages/shared/src/types/index.ts
  packages/theme-default/src/components/Nav/NavBarTitle.tsx
Labels: change: feat

#856 docs: translate Tailwind CSS setup
  packages/document/docs/en/guide/basic/custom-page.mdx
  packages/document/docs/zh/guide/basic/custom-page.mdx
Labels: change: docs

#859 fix(core): replace flattened mdx content by rules
  .changeset/chilly-pumpkins-remember.md
  e2e/fixtures/basic/doc/content.mdx
  e2e/fixtures/basic/doc/index.mdx
  e2e/fixtures/basic/rspress.config.ts
  e2e/tests/basic.test.ts
  packages/core/package.json
  packages/core/src/node/initRsbuild.ts
  packages/core/src/node/mdx/loader.ts
  packages/theme-default/package.json
  pnpm-lock.yaml
Labels: change: fix

#861 fix(preview): replace iframePosition with iframe.position
  .changeset/purple-flies-kiss.md
  packages/plugin-preview/src/index.ts
Labels: change: fix

#863 fix(api-docgen): allow multiple lines description
  .changeset/pink-knives-compare.md
  e2e/fixtures/api-docgen/src/Button.ts
  e2e/tests/api-docgen.test.ts
  packages/plugin-api-docgen/src/docgen.ts
  packages/plugin-api-docgen/static/global-components/API.scss
Labels: change: fix

#866 fix: icon/logo display error in dark mode when refresh page
  .changeset/nice-sloths-invent.md
  packages/core/src/runtime/clientEntry.tsx
  packages/theme-default/src/components/Nav/NavBarTitle.tsx
  packages/theme-default/src/components/SvgWrapper/index.tsx
  packages/theme-default/src/components/SwitchAppearance/index.tsx
Labels: change: fix

#871 fix(core): set ssg:false in plugin not work in build mode
  .changeset/swift-needles-tickle.md
  packages/core/src/node/build.ts
Labels: change: fix

#870 fix(core): section header text should return i18n result
  .changeset/tame-rivers-drop.md
  e2e/fixtures/i18n/doc/en/guide/_meta.json
  e2e/fixtures/i18n/doc/en/guide/basic/install.mdx
  e2e/fixtures/i18n/doc/en/guide/basic/quick-start.mdx
  e2e/fixtures/i18n/doc/zh/guide/_meta.json
  e2e/fixtures/i18n/doc/zh/guide/basic/install.mdx
  e2e/fixtures/i18n/doc/zh/guide/basic/quick-start.mdx
  e2e/fixtures/i18n/i18n.json
  e2e/fixtures/i18n/rspress.config.ts
  e2e/tests/i18n.test.ts
  packages/core/src/node/runtimeModule/siteData/normalizeThemeConfig.ts
Labels: change: fix

#873 feat(theme): render code in overview component
  .changeset/ninety-tables-begin.md
  packages/theme-default/src/components/Overview/index.tsx
Labels: change: feat

#864 feat: preserve query string when redirecting on first visit
  .changeset/cyan-tigers-bow.md
  packages/theme-default/src/logic/useRedirect4FirstVisit.ts
Labels: change: feat

#865 feat: add `localeRedirect` option to theme config
  .changeset/real-beans-cheer.md
  packages/document/docs/en/api/config/config-theme.mdx
  packages/document/docs/zh/api/config/config-theme.mdx
  packages/shared/src/types/defaultTheme.ts
  packages/theme-default/src/logic/useRedirect4FirstVisit.ts
Labels: change: feat
